<!-- Portfolio Grid Section -->
    <section id="cfp" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Papers</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

            <div>
              <p>Call for Papers: Politics of Libraries Conference
              April 23, 2017
              University of Alberta - School of Library and Information
              Studies</p>

              <p>The spring of 2018 marks the 50th anniversary of the
              turbulent spring of 1968 where social and political
              movements resulted in protests and strikes across many
              Western democracies.  In France in May of 1968, where
              unrest was most pointed, some declared the month to be the
              “début d’une lutte prolongée” or “beginning of a prolonged
              struggle.”  While the protests and strikes seemed to
              indicate a progressive momentum in the waning period of
              the so-called ‘golden era’ of the Fordist social contract,
              the response to the social protests of 1968 (and political
              radicalism that followed) was the emergence of economic
              and political neoliberalism.  Looking back on 50 years
              since 1968, we aim to question not what failed in the
              spring of 1968 nor how a new political and economic order
              arose, but what is the state of the politics of libraries
              in 2018? What struggles continue and what new ones must be
              undertaken?</p>

              <p>Reflecting on this 50th anniversary, an interested group
              of librarians, information professionals, students, and
              academics is hosting a conference questioning the politics
              of libraries in 2018, discussed over one day in April 2018
              at the University of Alberta.  In the spirit of 1968, we
              invite practitioners, scholars, activists, students, and
              other members of the general public interested in library
              allied information services to submit proposals on the
              issue of the politics of libraries in 2018.  Possible
              topics include, but are not limited to:</p>

              <ul>
                <li>Neutrality in libraries</li>
                  <li>Hegemonic and counter-hegemonic roles of
                    libraries</li>
                  <li>Resistance in library services and work</li>
                  <li>Neoliberalism and its relationship to
                    libraries</li>
                  <li>Precarity in library work</li>
              </ul>

              <p>Please submit proposals (not to exceed 400 words) for
              individual and group contributions to ??? by midnight
              ???.</p>

              <p>All submissions will undergo a double-blind peer review
              process undertaken by the conference organizers.
              Notification on the status of submissions will be made by
              ???</p>
            </div>
    </section>
