<!-- Portfolio Grid Section -->
    <section id="codeofconduct" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Code of Conduct</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div>

                      <p><em>Politics of Libraries</em> seeks to provide a welcoming,
                      professionally engaging, fun, and safe conference
                      experience and ongoing community for everyone. We
                      do not tolerate harassment in any form.
                      Discriminatory language and imagery (including
                      sexual) is not appropriate.</p>

                      <p>Harassment is understood as any behavior that
                      threatens or demeans another person or group, or
                      produces an unsafe environment. It includes
                      offensive verbal comments or non-verbal
                      expressions related to gender, gender identity,
                      gender expression, sexual orientation, disability,
                      physical appearance, body size, race, age,
                      religious or political beliefs; sexual or
                      discriminatory images in public spaces (including
                      online); deliberate intimidation, stalking,
                      following, harassing photography or recording;
                      sustained disruption of talks or other events,
                      inappropriate physical contact, and unwelcome
                      sexual attention.</p>

                      <p><strong>Conflict Resolution</strong></p>
                      <p><em>1. Initial Incident</em></p>

                      <p>If you are being harassed, notice that someone
                      else is being harassed, or have any other
                      concerns, and you feel comfortable speaking with
                      the offender, please inform the offender that
                      he/she/ze has affected you negatively. Oftentimes,
                      the offending behavior is unintentional, and the
                      accidental offender and offended will resolve the
                      incident by having that initial discussion.</p>

                      <p><em>Politics of Libraries</em> recognizes that there are many reasons
                      speaking directly to the offender may not be
                      workable for you. If you don't feel comfortable
                      speaking directly with the offender for any
                      reason, skip straight to step 2.</p>

                      <p><em>2. Escalation</em></p>
                      <p>If the offender insists that he/she/ze did not
                      offend, if offender is actively harassing you, or
                      if direct engagement is not a good option for you
                      at this time, then you will need a third party to
                      step in. At the <em>Politics of Libraries</em>
                      conference, if you need any assistance with
                      respect to harassment, please contact Amanda
                      Larsen. The full organizing committee will
                      introduce themselves at the beginning of the
                      conference so you know who we are. If you require any assistance with
                      respect to harassment, please find Amanda or
                      any of the other
                      organizers, and they will be able to help you.</p>

                      <p><strong>Sanctions</strong></p>


                      <p>Participants asked to stop any harassing behavior
                      are expected to comply immediately. If a
                      participant engages in harassing behavior,
                      organizers may take any action they deem
                      appropriate, including warning the offender,
                      expulsion from the event.</p>

                      <p>We value everyone's participation in the
                      conference, and will all work to keep the
                      conference a
                      safe and friendly space for all participants!</p>

              <p>(Adapted from the <a
                        href="https://github.com/code4lib/code-of-conduct">Code4Lib
                        Code of Conduct</a>)</p>
            </div>

    </section>
