<!-- Portfolio Grid Section -->
    <section id="organizers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organizing Committee</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div>

              <ul>
                <li>Shane Allan</li>
                <li>Richard Bee</li>
                <li>Michelle De Agostini</li>
                <li>Celine Gareau-Brennan</li>
                <li>Mary Greenshields</li>
                <li>Amanda Larsen</li>
                <li>Lorisia MacLeod</li>
                <li>Michael McNally</li>
                <li>Sam Popowich</li>
              </ul>
            </div>

    </section>
