<!-- Portfolio Grid Section -->
    <section id="register" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div>

              <p>Registration is now open for the 2018 Politics of
              Libraries conference, April 23 2018. Conference attendance
              is <strong>free of charge</strong> but we encourage
              registration so that we can get a sense of the
              numbers. The conference schedule can be found <a
                        href="#schedule">here</a>.</p>

              <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSdegmrsEhaA2qnC9qzkdtRCWhbt7SzNTTcCbWwDWo7nTkclBA/viewform?usp=sf_link">Register
                        now</a>

            </div>

    </section>
