<!-- Portfolio Grid Section -->

<section id="schedule" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Schedule</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div>
      <h2>Politics in Libraries Conference – Monday, April 23rd,
        2018</h2>
      <h3>Third Floor, School of Library and Information Studies,
        University of Alberta</h3><br /><br />
      <ul style="width:600px" ><li style="margin: 0 0 10px 0">8:45 - 9:00: Welcome and opening remarks</li>
        <li style="margin: 0 0 10px 0">9:00 - 9:25:
          <strong>Non-neutrality & the effect of colonialism on
            librarianship: Cases in Globalization, ICTs, and
            International librarianship</strong> presented by Mark Shane-Scale<br />
          <br />Abstract: My presentation questions the assumptions of non-neutrality in the knowledge shared by libraries and the mechanisms through which access to global information is provided. Applying Nettleford’s (2003) analysis, I examine the effect of colonialism on libraries and on modern ICT initiatives.<br /></li>
        <li style="margin: 0 0 10px 0">9:25 - 9:50: <strong>OCLC and WorldCat: Consolidation and Monopolization of a Core Library Service</strong> presented by Kris Joseph<br />
          <br />Abstract: Economic forces have encouraged libraries to
          collaborate on shared services, but it can be argued that the
          OCLC’s current operations are monopolistic and ripe for
          disruption. This presentation examines the creation, growth,
          and subsequent domination of OCLC and the WorldCat catalog
          through an application of Tim Wu’s (2010) model of the
          innovation cycle.<br /></li>
        <li style="margin: 0 0 10px 0">9:50 - 10:15: <strong>“Repressed Desire”: Social Responsibility and the Neoliberal Turn</strong> presented by Sam Popowich<br />
          <br />Abstract: The late 1960s saw a radical transformation of the mode of capitalist accumulation. Theorizing this transition offers new insights into the social responsibility in libraries debates of the period.<br /></li>
        <li style="margin: 0 0 10px 0">10:15 - 10:30: 15-minute break<br /></li>
        <li style="margin: 0 0 10px 0">10:30 - 10:55: <strong>Collective Agreements and the Freedom for Librarians to Research</strong> presented by Maureen Babb<br />
          <br />Abstract: The ability to conduct and disseminate research on any topic, even a politically sensitive one, is a component of academic freedom.   The collective agreements, which govern the rights and responsibilities of librarians, of twelve Canadian universities were examined to determine the state of academic freedom and the expectations and provisions for research at these institutions.<br /></li>
        <li style="margin: 0 0 10px 0">10:55 - 11:15: <strong>Fairly slippery: the political use, abuse, and misuse of “fair dealing” in Canadian opinion journalism</strong>, 2016-2017 presented by Corinne Gilroy<br />
          <br />Abstract: This presentation will examine political uses of the legal term “fair dealing” by various copyright stakeholders in Canada. In order to illustrate the limits and contours of various communities, “fair dealing” will be approached less as a signifier than as a boundary object.<br /></li>
        <li style="margin: 0 0 10px 0">11:15 - 11:40 <strong>Invested and invisible identities: Politics of language in libraries</strong> presented by Ean Henninger<br />
          <br />Abstract: Although they often go unexamined, linguistic acts constitute political behavior and shape the potential for engaging in such behavior both inside and outside of libraries. By drawing on work in applied linguistics and making specific reference to ideologies about neoliberalism and multilingualism, this presentation will explore how critical approaches to language practices can help library workers increase investment both in their organizations and in broader political activity.<br /></li>
        <li style="margin: 0 0 10px 0">11:40 - 12:05: <strong>The Political Economy of the Research Library: On Chattel and Rent</strong> presented by Adam Siegel<br />
          <br />Abstract: A review of the history of the modern (i.e., post-Renaissance) research library is instructive: by reviewing and confronting their own history, concentrating in particular on early modern modes of collecting, organizing, describing, and using information (i.e., "primitive accumulation"), libraries gain an heuristic to improve service to research communities within the confines of current copyright and intellectual property law.  Argued in closing that libraries must resume limiting contractual obligations vis-a-vis vendors by regarding them as sellers of chattel goods rather than rentier service providers.<br /></li>
        <li style="margin: 0 0 10px 0">12:05 - 1:15: Lunch<br /></li>
        <li style="margin: 0 0 10px 0">1:15 - 1:40: <strong>A Look into Closed Access Capitalism and LIS Publishing Practices</strong> presented by Robyn Hall<br />
          <br />Abstract: Drawing on data from an investigation of 127 academic, peer-reviewed journals in library and information science (LIS), this presentation will discuss ways that those working in LIS can take back control over how their work is disseminated and shared online. For this to happen, however, members of the profession need to recognize and consciously grapple with the ubiquitous capitalist system that informs so many of the services, functions, and expectations that are tied to the profession.<br /></li>
        <li style="margin: 0 0 10px 0">2:05 - 2:30: <strong>The Library As Market</strong> presented by Nailisa Tanner<br />
          <br />Abstract: “The marketplace of Ideas” is frequently invoked in debates concerning the merits of free, unrestricted speech; as social and information centres of their communities, libraries are frequently implicated in these debates. This presentation contextualizes the phrase in liberal and neoliberal political thought, and considers what is at stake in using this metaphor as speech becomes marketized in an ever more literal sense.<br /></li>
        <li style="margin: 0 0 10px 0">2:30 - 2:55: Break-out logistics<br /></li>
        <li style="margin: 0 0 10px 0">2:55 - 3:05: 10-minute break<br /></li>
        <li style="margin: 0 0 10px 0">3:05 - 4:05: Break-out sessions<br /></li>
        <li style="margin: 0 0 10px 0">4:05: Closing remarks &
          adjournment</li>

      </ul>


    </div>

</section>
