<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Politics of Libraries&nbsp;2018<br></div>
                <div class="intro-lead-in">April 23, 2018</div>
                <div class="intro-lead-in">School of Library and
                  Information Studies<br />University of Alberta</div>
            </div>
        </div>
    </header>

    {% include 2017_data/cfp.html %}
    {% include 2017_data/organizers.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
